.App {
  text-align: center;
}
h1,
p {
  font-family: Lato;
}

body {
  font-family: sans-serif;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-reposlist {
  color: #999;
  padding: 0.5rem;
}

.reposlist {
  color: rgba(12, 11, 11, 0.877);
  padding: 0.5rem;
}

.reposlist li {
  padding: 0.5rem;
}

.repo-active,
.reposlist li:hover {
  background-color: #ae7192;
  color: #f5f8f8;
  cursor: pointer;
  font-weight: 700;
}

.reposlist li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
